.menu__content {
	padding: var(--cl-l-gap) 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--cl-xl-gap);
}

.menu__links a {
	text-decoration: none;
}

.menu__settings {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.menu__item {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.menu__item .cl-switch__track {
	margin-left: auto;
}

.menu__button {
	padding: 0;
	display: flex;
	align-items: center;
}

.menu__button .cl-icon_medium {
	font-size: var(--cl-typography-h5-desktop);
}
