.header {
  position: sticky;
  top: 0;
  background: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  z-index: 30;

  &__content {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__brand {
    font-weight: 700;
  }

  &__nav a {
    margin-left: 16px;
    color: inherit;
    text-decoration: none;
  }
}
