---
import HeaderLink from "./HeaderLink.astro";
---

<header>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0;
		background: var(--cl-base-background-color);
		box-shadow: var(--cl-box-shadow);
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: var(--cl-fancy-font);
		font-weight: normal;
		line-height: 1.5;
		letter-spacing: normal;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: var(--cl-typography-base-mobile);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--cl-base-font-color);
		text-decoration: none;
	}
	nav a:hover {
		text-shadow: var(--cl-text-shadow);
		text-decoration: underline;
	}
	nav a.active {
		text-decoration: none;
		text-shadow: none;
		cursor: default;
		color: var(--cl-accent-a0);
	}
	@media (min-width: 640px) {
		header {
			font-size: var(--cl-typography-base-tablet);
		}
	}

	@media (min-width: 1024px) {
		header {
			font-size: var(--cl-typography-base-desktop);
		}
	}
</style>
