.footer {
  height: 60px;
  display: flex;
  align-items: center;
  background: #f8f8f8;
  border-top: 1px solid rgba(0, 0, 0, 0.04);

  &__copyright {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
    font-size: 14px;
    color: #666;
  }
}
