---
import type { DynamicZonePicture } from "../../lib/content/models/dynamic-zone";
import FormattedDate from "../FormattedDate.astro";
import Picture from "../picture/Picture.astro";

interface Props {
	picture: DynamicZonePicture;
}

const { picture } = Astro.props;
const { item, publicationDate } = picture;
---

<article class="zone-picture">
	<Picture item={item} class="zone-picture-media" />
	<p class="zone-picture-date">
		<FormattedDate date={publicationDate} />
	</p>
</article>
